* {
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

header {
  margin: 4em;
  display: grid;
}

header h1 {
  font-size: 4em;
}

header input {
  font-size: 1.2em;
  margin-top: 15px;
  padding: 1px;
  width: 300px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc; 
}

.underline {
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  width: 50%;
}

header button {
  bottom: 20px;
  right: 20px; 
  padding: 6px 16px;
  margin-top: 15px;
  background-color: whitesmoke;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

header button:hover {
  background-color: white;
}
/* main */
main {
  margin-bottom: 5em;
}

main h2 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.prepare-message {
  opacity: 0.3;
}

.persist-section {
margin-bottom: 50px;
}

.Todo-container {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; 

}

.text {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-bottom: 20px;
  font-size: 0.9em;
  font-weight: 100;
}

.deleteBtn {
  background-color: transparent; 
  border: none;
  padding: 4px 4px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.4s ease;
}

.deleteBtn:hover {
  background-color: #eee;
  opacity: 0.8;
  color: #fff;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.checkbox:checked::after {
  content: "\2714";
  font-size: 12px; 
  line-height: 16px; 
  color: #000;
  position: absolute; 
  top: 57%; 
  left: 50%;
  transform: translate(-50%, -50%); 
}

.persist-button {
  background-color: transparent;
  border: none;
  padding: 8px 8px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 20px;
  transition: background-color 0.3s ease;
  position: relative;
}

.important-icon {
  opacity: 0.8;
}

.star-icon,
.important-icon {
  position: absolute;
  top: -3px;
  left: 0;
  width: 18px;
  height: 18px;
}

.star-icon {
  opacity: 0;
  transition: 0.3s ease;
}

.star-icon:hover {
  opacity: 1;
}

.crossed-out {
  text-decoration: line-through;
  text-decoration-color: rgba(255, 0, 0, 0.7); 
  text-decoration-style: solid;
  text-decoration-thickness: 3px;  
}

.showContainer {
  width: 100%; /* or any desired width */
    display: flex;
    justify-content: center;
}
